
  <!-- <div class="page_loader">
    <span id="load"></span>
</div> -->

<div class="clearfix"></div>
<div class="content" [ngClass]="this.isgraybackground ? 'bg-image-gray': 'bg-secondary'">
      <section class="section padd-15">
              <div class="container">
                  <div class="row">
                      <div class="col-md-12">
                          <h3 class="section-title font-primary">Allocated Call History</h3>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                     <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="SearchCallSubmit()">
                        <div class="form-group">
                            <div class="icon-img">
                                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                                  <path class="fill-icon" id="Path_185" data-name="Path 185" d="M12,10.943,9.509,8.453a5.167,5.167,0,0,0,1.057-3.17A5.251,5.251,0,0,0,5.283,0,5.251,5.251,0,0,0,0,5.283a5.251,5.251,0,0,0,5.283,5.283,5.167,5.167,0,0,0,3.17-1.057L10.943,12ZM1.509,5.283A3.737,3.737,0,0,1,5.283,1.509,3.737,3.737,0,0,1,9.057,5.283,3.737,3.737,0,0,1,5.283,9.057,3.737,3.737,0,0,1,1.509,5.283Z" fill="#22403d"/>
                                </svg>
                            </div>
                            <input type="text" class="form-control" formControlName="searchPhoneNumber" placeholder="Search phone number">
                        </div>
                        <div class="form-group">
                            <div class="icon-img">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14.829" height="14.828" viewBox="0 0 14.829 14.828">
                                  <path class="stroke-icon" id="minimize" d="M3.667,10.333h4v4M3,15l4.067-4.067m7.267-3.267h-4v-4M15,3,10.933,7.067" transform="translate(-1.586 -1.586)" fill="none" stroke="#22403d" stroke-linecap="square" stroke-width="2"/>
                                </svg>
                            </div>
                            <div class="select-wrap" *ngIf="DirectionList.length">
                                <!-- <select  class="form-control" formControlName="searchDirection">
                                  <option value="">Direction</option>
                                  <option value="INCOMING">INCOMING</option>
                                  <option value="OUTGOING">OUTGOING</option>
                                 </select> -->
                                 <ng-select [options]="DirectionList" [displayKey]="selectdirectionkey" [styleGuide]="styleGuide"  formControlName="searchDirection" ></ng-select>
                              <div class="down-aerrow">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="9.4" height="6.1" viewBox="0 0 9.4 6.1">
                                    <path class="fill-icon" id="Path_36" data-name="Path 36" d="M6.7,8.1,2,3.4,3.4,2,6.7,5.3,10,2l1.4,1.4Z" transform="translate(-2 -2)" fill="#22403d"/>
                                  </svg>
                                </div>
                          </div>
                      </div>
                      <div class="form-group">
                        <div class="icon-img">
                            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12.024" viewBox="0 0 12 12.024">
                              <path class="fill-icon" id="phone_1_" data-name="phone (1)" d="M14.111,11v1.81A1.207,1.207,0,0,1,12.8,14.019a11.94,11.94,0,0,1-5.207-1.852,11.765,11.765,0,0,1-3.62-3.62A11.94,11.94,0,0,1,2.117,3.315,1.207,1.207,0,0,1,3.317,2h1.81A1.207,1.207,0,0,1,6.334,3.038a7.747,7.747,0,0,0,.422,1.7,1.207,1.207,0,0,1-.272,1.273l-.766.766a9.654,9.654,0,0,0,3.62,3.62l.766-.766a1.207,1.207,0,0,1,1.273-.272,7.747,7.747,0,0,0,1.7.422A1.207,1.207,0,0,1,14.111,11Z" transform="translate(-2.112 -2)" fill="#22403d"/>
                            </svg>
                        </div>
                        <div class="select-wrap" *ngIf="DeviceList.length">
                            <!-- <select  class="form-control" formControlName="searchDevice">
                              <option value="">Device</option>
                              <option value="LANDLINE">LANDLINE</option>
                              <option value="MOBILE">MOBILE</option>
                            </select> -->
                            <ng-select [options]="DeviceList" [displayKey]="selectdevicekey" [styleGuide]="styleGuide" formControlName="searchDevice" ></ng-select>
                          <div class="down-aerrow">
                              <svg xmlns="http://www.w3.org/2000/svg" width="9.4" height="6.1" viewBox="0 0 9.4 6.1">
                                <path class="fill-icon" id="Path_36" data-name="Path 36" d="M6.7,8.1,2,3.4,3.4,2,6.7,5.3,10,2l1.4,1.4Z" transform="translate(-2 -2)" fill="#22403d"/>
                              </svg>
                            </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="icon-img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="13.214" height="14" viewBox="0 0 13.214 14">
                          <path  class="stroke-icon" id="arrow-out-circle" d="M10.8,11l3-3-3-3m2.28,3H6.6M9,14A6,6,0,0,1,9,2" transform="translate(-2 -1)" fill="none" stroke="#22403d" stroke-linecap="square" stroke-width="2"/>
                        </svg>
                    </div>
                    <div class="select-wrap">
                        <!-- <select class="form-control"  formControlName="searchExt">
                          <option value="">Ext</option>
                          <option *ngFor="let item of Extensions" value="{{item}}">{{item}}</option>
                        </select> -->
                        <ng-select [options]="Extensions" [displayKey]="selectextkey" [styleGuide]="styleGuide"  formControlName="searchExt"></ng-select>
                      <div class="down-aerrow">
                          <svg xmlns="http://www.w3.org/2000/svg" width="9.4" height="6.1" viewBox="0 0 9.4 6.1">
                            <path class="fill-icon" id="Path_36" data-name="Path 36" d="M6.7,8.1,2,3.4,3.4,2,6.7,5.3,10,2l1.4,1.4Z" transform="translate(-2 -2)" />
                          </svg>
                        </div>
                  </div>
              </div>
              <div class="form-group">
                <div class="icon-img">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                      <path class="fill-icon" id="Path_182" data-name="Path 182" d="M6,0,4.909,1.091l4.13,4.13H0V6.779H9.039l-4.13,4.13L6,12l6-6Z"/>
                    </svg>
                </div>
                <ng-datepicker formControlName="searchFromDate" (click)="fromchange($event)" class="form-control date-input" [options]="fromoptions" ></ng-datepicker>
                <!-- <input type="text" class="form-control date-input" placeholder="2019/04/02"> -->
            </div>
            <div class="form-group">
                <div class="icon-img">
                    <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" viewBox="0 0 12 12">
                      <path class="fill-icon" id="Path_183" data-name="Path 183" d="M6,0,7.091,1.091l-4.13,4.13H12V6.779H2.961l4.13,4.13L6,12,0,6Z" fill="#22403d"/>
                    </svg>
                </div>
                <!-- <input type="text" class="form-control date-input" placeholder="2019/04/02"> -->
                <ng-datepicker formControlName="searchToDate" (click)="tochange($event)" class="form-control date-input" [options]="tooptions" ></ng-datepicker>
            </div>
            <button type="submit" class="btn btn-go bg-primary font-white" >GO</button>
            <button type="button" class="btn btn-go bg-primary font-white" (click)="ResetFilter()">RESET</button>
        </form>
    </div>
                </div>
      <!-- Comment Popup -->
      <div class="row">
        <div class="col-md-12">
         
          <button type="button" id="btncommentmodelpopup" class="btn-modal btn btn-go bg-primary font-white" data-toggle="modal" data-target="#CommentModal" style="display: none;">
            Comment Popup
          </button>
          <div class="modal fade" id="CommentModal" tabindex="-1" role="dialog" aria-labelledby="allocateCallConfirmModalLabel" aria-hidden="true">
            <div class="vertical-alignment-center">
              <div class="modal-dialog vertical-align-center" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="allocateCallConfirmModalLabel">Allocate Call - Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col-md-12">
                        <p>{{this.CommentContent}}</p>
                        
                      </div>
                    </div>
                    <!-- <div class="row">
                      <div class="col-md-12 mrg-top-bottom">
                        <hr/>
                      </div>
                    </div> -->
                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      <!-- End Comment PopUp -->
      </div>    
      </section>  
      <section class="wrap-grid">
        <div class="container">
         
          <div class="row">
            <div class="col-md-12">
                <ag-grid-angular #agGrid style="width: 100%; height: 100%;" class="ag-theme-balham"
                             [gridOptions]="gridOptions"
                             [defaultColDef]="defaultColDef"
                             [frameworkComponents]="frameworkComponents"
                             [context]="context"
                              (gridReady)="onGridReady($event)"
                            [colResizeDefault]="colResizeDefault"
                            (columnResized)="onColumnResized($event)"
                             [domLayout]="domLayout">
                </ag-grid-angular>
           
              </div>


            </div>
            <div class="row">
              <div class="col-md-12 text-center">
                <div class="btn-grid-wrapper">
                  <button type="button" *ngIf="this.totalrawcount > this.lastindexofgrid" class="btn btn-go bg-primary font-white" (click)="LoadMoreData()">Load More</button>
                  <div class="counter">
                      <p>{{this.lastindexofgrid}} of {{this.totalrawcount}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </section>
      
      </div>